*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-cursos-item{
    border: solid 0px;
    box-shadow: 5px 5px 10px darkgray;
    width: 230px;
    text-align: center;
    border-radius: 10px;
    background-color: #F4F8FF;
    border: solid;
    width: 230px;
    height: 200px;
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.cursos-header{
    margin-top: 9px;
    width: 220px;

}

#nodejs{
    height: 100px;
    text-align: center;
}

.cursos-body-nodejs{
}

.title-body-nodejs{
    font-family: 'Courier Prime', monospace;
    font-size: 25px;
    text-align: center;

}

.cursos-body-title-item3{
    text-decoration: none;
}

.btn-footer-nodejs{
    padding: 4px;
    width: 49%;
   margin: auto;
   margin-bottom: 10px;
}

.btn-nodejs{
    text-decoration: none;
    background-color: #1C256D;
    padding: 7px;
    font-size: 13px;
    color: #FFFFFF;
    border-radius: 5px;
}