@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&family=Courier+Prime:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(243, 244, 255, 0.9);

}

header {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    background-color: #1C256D;
    justify-content: space-between;
    font-family: 'Cairo', sans-serif;
    height: 50px;
    padding-top: 7px; 
    cursor: pointer;
    font-size: 18px;
}

a:hover{
    color: #9674c3;
}

header a {
    margin-right: 50px;
    color: rgb(241, 238, 255);
    text-decoration: none;
    font-size: 16px;
}

#guia{
    border-right: solid 2px #404fc1;
    padding-right: 35px;
}

.logo{
    width: 185px;
    height: 35px;
    vertical-align: top;
    margin-left: 45px;
}

.container-cursos-item{
    border: solid 0px;
    box-shadow: 5px 5px 10px darkgray;
    width: 230px;
    text-align: center;
    border-radius: 10px;
    background-color: #F4F8FF;
    border: solid;
    width: 230px;
    height: 200px;
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.title-backend-content{
    padding: 5px;
    max-width: auto;
    margin-bottom: 40px;

}

.container-content-backend{
    margin-top: 15px;
}

.cursos-header{
    margin-top: 9px;
    width: 220px;

}

#nodejs{
    height: 100px;
    text-align: center;
}

.cursos-body-nodejs{
}

.title-body-nodejs{
    font-family: 'Courier Prime', monospace;
    font-size: 25px;
    text-align: center;

}

.cursos-body-title-item3{
    text-decoration: none;
}

.btn-footer-nodejs{
    padding: 4px;
    width: 49%;
   margin: auto;
   margin-bottom: 10px;
}

.btn-nodejs{
    text-decoration: none;
    background-color: #1C256D;
    padding: 7px;
    font-size: 13px;
    color: #FFFFFF;
    border-radius: 5px;
}
.sobreguias {

    background-color: #EAEDF3BF;
    text-align: left;
    padding: 4%;
    width: 100%;
}
.sobreguias img {

width: 38%;

}
.sobreguias p {

    font-family: 'Cairo';
    padding-top: 1%;
}
footer {

    background-color: #1C256D;
    font-family: 'Courier Prime';
    padding-top: 5%;
    padding-bottom: 10%;
    width: 100%;

}
.palavrinhas {

    color: #ffffff;
    width: 45%;
    text-align: right;
    float: right;
    margin-right: 95px;

}
.palavrinhas h4 {
    color: #D44A4A;
    text-align: start;
}
.palavrinhas h5 {
    color:#ffffff;
    text-align: end;
}
.socialmedia {

    color: #FFFFFF;
    width: 95%;
    text-align: left;
    float: left;
    margin-left: 35px;
    padding-top: 2%;
    padding-right: 1%;
    padding-bottom: 2%;


}
.socialmedia-h5{

    margin-left: 10px;
    font-family: Verdana;
    font-style: bold;

}
.socialmedia ul {

    display: flex;

}
.socialmedia li {

    list-style-type: none;
    padding-right: 1%;

}
.copyright {

    color:#c4c6c6;
    width: 50%;
    padding-top: 12%;
    margin-left: 45px;
    text-align: start;
    font-style: italic;

}

.bloco-1{
    border: solid 0px;
    box-shadow: 5px 5px 10px darkgray;
    width: 230px;
    text-align: center;
    border-radius: 10px;
    background-color: #F4F8FF;
    border: solid;
    width: 230px;
    height: 200px;
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.bloco-2{
    border: solid 0px;
    box-shadow: 5px 5px 10px darkgray;
    width: 230px;
    text-align: center;
    border-radius: 10px;
    background-color: #F4F8FF;
    border: solid;
    width: 230px;
    height: 200px;
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.bloco-3{
    border: solid 0px;
    box-shadow: 5px 5px 10px darkgray;
    width: 230px;
    text-align: center;
    border-radius: 10px;
    background-color: #F4F8FF;
    border: solid;
    width: 230px;
    height: 200px;
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.inscrever{
border: solid;
margin-left: 2;


}

.titlehtml{
text-align: center;
font-family: 'Courier Prime', monospace;
font-size: 25px;
}
.titlecss{
    text-align: center;
    font-family: 'Courier Prime', monospace;
    font-size: 25px;
}

.titlebootstrap{
    text-align: center;
    font-family: 'Courier Prime', monospace;
    font-size: 25px;
}