@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&family=Courier+Prime:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(243, 244, 255, 0.9);

}

header {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    background-color: #1C256D;
    justify-content: space-between;
    font-family: 'Cairo', sans-serif;
    height: 50px;
    padding-top: 7px; 
    cursor: pointer;
    font-size: 18px;
}

a:hover{
    color: #9674c3;
}

header a {
    margin-right: 50px;
    color: rgb(241, 238, 255);
    text-decoration: none;
    font-size: 16px;
}

#guia{
    border-right: solid 2px #404fc1;
    padding-right: 35px;
}

.logo{
    width: 185px;
    height: 35px;
    vertical-align: top;
    margin-left: 45px;
}

.container-cursos-item1{
    border: solid 0px;
    box-shadow: 5px 5px 10px darkgray;
    width: 230px;
    text-align: center;
    border-radius: 10px;
    background-color: #F4F8FF;
    border: solid;
    width: 230px;
    height: 200px;
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.container-cursos-item2{
    border: solid 0px;
    box-shadow: 5px 5px 10px darkgray;
    width: 230px;
    text-align: center;
    border-radius: 10px;
    background-color: #F4F8FF;
    border: solid;
    width: 230px;
    height: 200px;
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.container-cursos-item3{
    border: solid 0px;
    box-shadow: 5px 5px 10px darkgray;
    width: 230px;
    text-align: center;
    border-radius: 10px;
    background-color: #F4F8FF;
    border: solid;
    width: 230px;
    height: 200px;
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.title-backend-content{
    padding: 5px;
    max-width: auto;
    margin-bottom: 40px;

}

.container-content-backend{
    margin-top: 15px;
}

.cursos-header{
    margin-top: 9px;
    width: 220px;

}

#nodejs{
    height: 100px;
    text-align: center;
}

.cursos-body-nodejs{
}

.title-body-nodejs{
    font-family: 'Courier Prime', monospace;
    font-size: 25px;
    text-align: center;

}

.cursos-body-title-item3{
    text-decoration: none;
}

.btn-footer-nodejs{
    padding: 4px;
    width: 49%;
   margin: auto;
   margin-bottom: 10px;
}

.btn-nodejs{
    text-decoration: none;
    background-color: #1C256D;
    padding: 7px;
    font-size: 13px;
    color: #FFFFFF;
    border-radius: 5px;
}
.sobreguias {

    background-color: #EAEDF3BF;
    text-align: left;
    padding: 4%;
    width: 100%;
}

.sobreguias img {

width: 38%;

}
.sobreguias p {

    font-family: 'Cairo';
    padding-top: 1%;
    width: auto;
}
footer {

    background-color: #1C256D;
    font-family: 'Courier Prime';
    padding-top: 5%;
    padding-bottom: 10%;
    width: 100%;
    height: 63%;
    display: flex;
    justify-content: space-around;

}

.content-footer {
    display: flex;
    flex-direction: column;
    height: 75%;
    width: 70%;
    align-items: center;
}

.conceito {

    color: #FFFFFF;
    width: auto;
    text-align: start;
    float: left;
    margin-left: 45px; 
    font-family: Cairo;
}

.conceito h6 {
    font-size: 15px;
    text-align: left;
    width: auto;

}

.palavrinhas {

    color: #f9f9f9;
    width: 45%;
    text-align: right;
    float: right;
    margin-right: 90px;

}
.palavrinhas h4 {
    
    color: #D44A4A;
    text-align: start;
}
.palavrinhas h5 {

    text-align: end;

}
.socialmedia {

    color: #FFFFFF;
    width: 95%;
    height: auto;
    text-align: left;
    float: left;
    margin-left: 35px;
    padding-top: 2%;
    padding-right: 1%;
    padding-bottom: 2%;


}
.socialmedia-h5{

    margin-left: 10px;
    font-family: Verdana;
    font-style: bold;
    font-size: 15px;
    margin-top: 10px;

}
.socialmedia ul {

    display: flex;

}
.socialmedia li {

    list-style-type: none;
    padding-right: 1%;

}
.copyright {

    color:#c4c6c6;
    width: auto;
    margin-right: 55%;
    text-align: start;
    font-style: italic;

}

.bloco-1 {
    border: solid 0px;
    box-shadow: 5px 5px 10px darkgray;
    text-align: center;
    border-radius: 10px;
    background-color: #F4F8FF;
    border: solid;
    width: 230px;
    height: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.bloco-2 {
    border: solid 0px;
    box-shadow: 5px 5px 10px darkgray;
    width: 230px;
    text-align: center;
    border-radius: 10px;
    background-color: #F4F8FF;
    border: solid;
    width: 230px;
    height: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.bloco-3 {
    border: solid 0px;
    box-shadow: 5px 5px 10px darkgray;
    width: 230px;
    text-align: center;
    border-radius: 10px;
    background-color: #F4F8FF;
    border: solid;
    width: 230px;
    height: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.inscrever {
    margin: 0 auto;


}

.titlecursos {
    text-align: center;
    font-family: 'Courier Prime', monospace;
    font-size: 1.4rem;
    margin: 0 auto;
    text-decoration: none;
}

.botao {
    align-items: center;
    width: auto;
    height: 30px;
    font-size: small;
    color: aliceblue;
    background-color: #1C256D;
    border-radius: 4px;
    padding: 7px;
    text-decoration: none;
}



.trilhaFront{
margin-bottom: 50px;

}

@media only screen and (max-width: 1440px) {
    .logo{
        width: 230px;
        height: 34px;
        vertical-align: top;
        margin-left: 15px;
    }

    .sobreguias img {
        width: 45%;
        margin-top: 10px;
    }

    .sobreguias p {
        font-size: 1.3rem;
        margin-top: 5px;
        text-align: justify;
    }
}

@media only screen and (max-width: 1024px) {

    .logo{
        width: 230px;
        height: 34px;
        vertical-align: top;
        margin-left: 15px;
    }

    .sobreguias img {
        width: 60%;
        margin-top: 10px;
    }

    .sobreguias p {
        font-size: 1.4rem;
        margin-top: 5px;
        text-align: justify;
    }


}

@media only screen and (max-width: 768px) {
    .cabecalho {
        display: none;
    }

    .logo{
        width: 200px;
        height: 34px;
        vertical-align: top;
        margin-left: 13px;
    }

    .sobreguias img {
        width: 58%;
        margin-top: 10px;
    }

    .sobreguias p {
        font-size: 1.07rem;
        margin-top: 5px;
        text-align: justify;
    }

    .bloco-3 {
        margin-top: 13px;
    }

    .container-content-backend {
        flex-wrap: wrap;
    }

    .container-content-backend {
        flex-wrap: wrap;
    }

    .container-cursos-item1 {
        margin-top: 20px;
    }

    .container-cursos-item2 {
        margin-top: 20px;
    }

    .container-cursos-item3 {
        margin-top: 20px;
    }

    .palavrinhas {
        display: none;
    }

    footer {
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .palavrinhas {
        display: none;
    }

    .socialmedia ul {
        display: flex;
        justify-content: center;
    }
    .socialmedia-h5 {
        margin-left: 44%;
    }

    .content-footer {
        flex-direction: column;
    }
}

@media only screen and (max-width: 425px) {
    .title-backend-content img {
        width: 320px;
        margin-left: -0.02rem;
    }

    .bloco-2 {
        margin-top: 13px;
    }

    .sobreguias {
        height: auto;
    }

    .logo{
        width: 183px;
        height: 34px;
        vertical-align: top;
        margin-left: 13px;
    }

    .sobreguias img {
        width: 100%;
        margin-top: 10px;
    }

    .sobreguias p {
        font-size: 0.92rem;
        margin-top: 5px;
        text-align: justify;
    }

    .socialmedia ul {
        margin-left: -18%;
    }

    .socialmedia-h5 {
        margin-left: 28%;
    }

    .conceito {
        margin-left: 0;
    }

    .conceito h6 {
        font-size: 14px;
        text-align: left;
        margin-left: 3%;
        margin-top: 10px;
        width: 100%;
    }


}

@media only screen and (max-width: 375px) {
    .title-backend-content img {
        width: 290px;
        margin-left: -0.6rem;
    }

    .logo{
        width: 173px;
        height: 34px;
        vertical-align: top;
        margin-left: 13px;
    }

    .sobreguias img {
        width: 100%;
        margin-top: 10px;
    }

    .sobreguias p {
        font-size: 0.92rem;
        margin-top: 5px;
        text-align: justify;
    }
}

@media only screen and (max-width: 320px) {
    .title-backend-content img {
        width: 255px;
        margin-left: -1.13rem;
    }

    .logo{
        width: 165px;
        height: 33px;
        vertical-align: top;
        margin-left: 10px;
    }

    .sobreguias img {
        width: 100%;
        margin-top: 10px;
    }

    .sobreguias p {
        font-size: 0.92rem;
        margin-top: 5px;
        text-align: justify;
    }

    footer {
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .palavrinhas {
        display: none;
    }
    
    .socialmedia ul {
        display: flex;
        justify-content: center;
        margin-right: 5%;
    } 
    
    .content-footer {
        flex-direction: column;
        width: 89%;
    }

    .conceito h6 {
        font-size: 0.9rem;
        text-align: left;
        width: 88%;
        margin-right: 9rem;
    }

    .socialmedia {
        margin-left: 41px;
    }

    .socialmedia-h5 {
        font-size: 0.9rem;
        margin-left: 25%;
    }

    .copyright {
        margin-right: 0%;
    }

    .copyright h6 {
        font-size: 0.8rem;
    }
}