@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&family=Courier+Prime:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body{
    background-color: rgba(243, 244, 255, 0.9);

}

.content{

}

.cabecalho{
    background-color: #1C256D;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
}
  
.cabecalho-menu-item {
    text-decoration: none;
    font-family: 'Cairo', sans-serif;
    color: #FFF2E7;
    font-weight: 250px;
    font-size: 19px;
    margin-right: 5px;
    cursor: pointer;
}

#Guia{
    border-right: solid 2px #3a48b0;
    padding-right: 35px;
}

.cabecalho-menu-item:hover{
    color: #7b86de;
}

.cabecalho-menu-item {
    display: flex;
    gap: 40px;
}  

.imagem-cabecalho{
    width: 230px;
    height: 40px;
    vertical-align: top;
    padding-top: 12px; 
}

.second-cabecalho{
    background-color: #1C256D;
    height: 443px; 
    display: flex;
    align-items: center;
    justify-content: space-around;

}


.text-second-cabecalho{
    color: white;
    width: 45%;
    height: auto;
    text-align: center;
    margin-left: 45px;
    margin-top: 49px;
    align-items: center;
    margin-right: 87px;
    margin-bottom: 98px;
}


.title-second-cabecalho{
    color: white;
    width: auto;
    text-align: center;
    margin-left: 3px;
    margin-top: 28px;
    font-size: 35px ;
    font-family:'Courier Prime', monospace;
}

.paragraph-second-cabecalho{
    color: white;
    width: auto;
    text-align: justify;
    margin-left: 3px;
    margin-top: 28px;
    font-size: 20px;
    font-family: 'Cairo', sans-serif;
}

.second-cabecalho-imagem{
    width: auto;
    height: 300px; 
    margin-top: 227px;
}

.text-center{
    margin-top: 50px;
    width: auto;
    align-items: center;

}

.text-center-item{
    margin-top: 90px;
    width: auto;
    font-family: 'Cairo', sans-serif;
    font-size: 20px;

}

.container-cursos-item::after{
    border: solid;
    width: 230px;
    text-align: center;
    position: absolute;
    box-shadow: 5px 5px 10px darkgray;
    background-color: #F4F8FF;
    border-radius: 10px;
    border: solid 0px;

}

.container-cursos-item:hover{
    transform:scale(1.10,1.10);
    box-shadow: 5px 5px 10px darkgray;
}

.container-cursos-item{
    position:relative;
    border: solid 0px;
    width: 230px;
    text-align: center;
    border-radius: 10px;
    background-color: #F4F8FF;
    transition: 0.6s;
    box-shadow: 5px 5px 10px darkgray;
}

.cursos-header{
    text-align: center;
    width: 230px;
}

.cursos-body-javascript{
    margin-top: 10px;
    
}

.title-body-javascript{
    font-family: 'Courier Prime', monospace;
    font-size: 25px;
    text-align: center;
}

.paragaph-body-javascript{
    font-family: 'Cairo', sans-serif;
    font-size: 17px;
    text-align: center;
}

.cursos-body-title-item1{
    text-decoration: none;
}

.btn-footer-javascript{
    padding: 4px;
    width: 49%;
   margin: auto;
   margin-bottom: 10px;
}

.btn-javascript{
    text-decoration: none;
    background-color: #1C256D;
    padding: 7px;
    font-size: 15px;
    color: #FFFFFF;
    border-radius: 5px;

}

.cursos-body-css{
    margin-top: 10px;
    
}

.title-body-css{
    font-family: 'Courier Prime', monospace;
    font-size: 25px;
    text-align: center;
}

.paragaph-body-css{
    font-family: 'Cairo', sans-serif;
    font-size: 17px;
    text-align: center;
}

.btn-footer-css{
    padding: 4px;
    width: 49%;
   margin: auto;
   margin-bottom: 10px;
}

.btn-css{
    text-decoration: none;
    background-color: #1C256D;
    padding: 7px;
    font-size: 15px;
    color: #FFFFFF;
    border-radius: 5px;

}

.cursos-body-html{
    margin-top: 10px;
    
}

.title-body-html{
    font-family: 'Courier Prime', monospace;
    font-size: 25px;
    text-align: center;
}

.paragaph-body-html{
    font-family: 'Cairo', sans-serif;
    font-size: 17px;
    text-align: center;
}

.btn-footer-html{
    padding: 4px;
    width: 49%;
   margin: auto;
   margin-bottom: 10px;
}

.btn-html{
    text-decoration: none;
    background-color: #1C256D;
    padding: 7px;
    font-size: 15px;
    color: #FFFFFF;
    border-radius: 5px;

}


.cursos-body-nodejs{
    margin-top: 10px;
    
}

.title-body-nodejs{
    font-family: 'Courier Prime', monospace;
    font-size: 25px;
    text-align: center;
}

.paragaph-body-nodejs{
    font-family: 'Cairo', sans-serif;
    font-size: 17px;
    text-align: center;
}

.btn-footer-nodejs{
    padding: 4px;
    width: 49%;
   margin: auto;
   margin-bottom: 10px;
}

.btn-nodejs{
    text-decoration: none;
    background-color: #1C256D;
    padding: 7px;
    font-size: 15px;
    color: #FFFFFF;
    border-radius: 5px;

}

.content-cursos{
    margin-top: 40px;
}

.cursos-body-title-item1{
    text-decoration: none;
}
.cursos-body-title-item2{
    text-decoration: none;

}
.cursos-body-title-item3{
    text-decoration: none;
}

.more-options-cursos{
    margin-left: 89%;
    margin-top: 18px;
    width: 105px;
    padding: 3px;
    text-align: center;
    border-radius: 2.5px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.more-options-cursos:hover{
    background: #2d3a95;
}

.more-options-cursos i{
    color: black;
}

.more-options-cursos a{
    list-style: none;
    text-decoration: none;
    color: rgb(9, 7, 7);
    font-size: 19px;
    transition: all 0.3s ease-in-out;
}


.title-second-part{
    font-family: 'Courier Prime', monospace;
    font-size: 26px;
    width: 27%;
    margin-left: 30px;
    margin-bottom: 40px;
}

img{
border-radius: 20px;
}

.content-cursos{
    margin-top: 40px;
 }


.imagem-comofuncionamos{
    margin-top: 50px;
    height: 30px;
}
.box-o{
    width: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;

}

.box-t{
    box-sizing: border-box;
    width: AUTO;
    display: flex;
    justify-content: space-evenly;

}

.box-blue-o{
    background-color: #1C256D;
    border-radius: 15px;
    width: 400px;
    height: 195px;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    color: white;
    align-items: center;
}

.box-blue-o-title{
    text-align: center;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.box-blue-o-paragaph{
    text-align: center;
    margin-top: 18px;
    margin-left: 5px;
    margin-right: 5px;
}

.box-red-t{
    background-color: #D44A4A;
    border-radius: 15px;
    width: 400px;
    height: 195px;
    text-align: center;
    margin-top: 10px;
    margin-left: 15px;
    color: white;
    font-size: 15px;
    align-items: center;
}

.box-red-t-title{

    text-align: center;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.box-red-t-paragaph{

    text-align: center;
    margin-top: 18px;
    margin-left: 5px;
    margin-right: 5px;
}

.box-red-tt{
    background-color: #D44A4A;
    border-radius: 15px;
    width: 400px;
    height: 195px;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    color: white;
}

.box-red-tt-title{
    text-align: center;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.box-red-tt-paragaph{

    text-align: center;
    margin-top: 18px;
    margin-left: 5px;
    margin-right: 5px;
}

.box-blue-f{
    background-color: #1C256D;
    border-radius: 15px;
    width: 400px;
    height: 195px;
    text-align: center;
    margin-top: 10px;
    margin-left: 15px;
    color: white;
}

.box-blue-f-title{
 
    text-align: center;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.box-blue-f-paragaph{

    text-align: center;
    margin-top: 16px;
    margin-left: 5px;
    margin-right: 5px;
}

footer {

    background-color: #1C256D;
    font-family: 'Courier Prime';
    padding-top: 5%;
    padding-bottom: 10%;
    width: 100%;

}
.conceito {

    color: #FFFFFF;
    width: 35%;
    text-align: start;
    float: left;
    margin-left: 45px; 
    font-family: Cairo;

}
.palavrinhas {

    color: #f9f9f9;
    width: 45%;
    text-align: right;
    float: right;
    margin-right: 95px;

}
.palavrinhas h4 {
    
    color: #D44A4A;
    text-align: start;
}
.palavrinhas h5 {

    text-align: end;

}
.socialmedia {

    color: #FFFFFF;
    width: 95%;
    text-align: left;
    float: left;
    margin-left: 35px;
    padding-top: 2%;
    padding-right: 1%;
    padding-bottom: 2%;


}
.socialmedia-h5{

    margin-left: 10px;
    font-family: Verdana;
    font-style: bold;

}
.socialmedia ul {

    display: flex;

}
.socialmedia li {

    list-style-type: none;
    padding-right: 1%;

}
.copyright {

    color:#c4c6c6;
    width: 50%;
    padding-top: 12%;
    margin-left: 45px;
    text-align: start;
    font-style: italic;

}
