*{
   box-sizing: border-box; 
}

body{

}

.cabecalho{
   background-color: #29005E;
}

.second-cabecalho{
   background-color: #29005E;
}

.cursos{

}

body{

}

.container-cursos-item{
    border: solid;
    width: 230px;
    text-align: center;
}

.cursos-header{
    border: solid;
    text-align: center;
    width: 230px;
}

img{
border-radius: 20px;
}

.content-cursos{
   margin-top: 40px;
}

.more-options-cursos{
    border: solid;
    margin-left: 90%;
    margin-top: 10px;
    width: 70px;

}

.cursos-body-title-item1{
    text-decoration: none;
}
.cursos-body-title-item2{
    text-decoration: none;

}
.cursos-body-title-item3{
    text-decoration: none;
}
footer {

    background-color: #29005E;
    padding-top: 5%;
    padding-bottom: 10%;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;

}
.palavrinhas {

    color: #eff0f0;
    width: 45%;
    text-align: right;
    float: right;
    margin-right: 95px;

}
.copyright {

    color:#c4c6c6;
    width: 100%;
    padding-top: 12%;
    margin-left: 45px;
    text-align: start;
    font-style: italic;

}