@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&family=Courier+Prime:wght@700&display=swap');

body{
    background-color: #ffffff;
    box-sizing: border-box;
    margin: 0;
}

.cabecalho{
    background-color: #1C256D;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1px;
}

.cabecalho-menu-item {
    text-decoration: none;
    font-family: 'Cairo', sans-serif;
    color: #FFF2E7;
    font-weight: 250px;
    font-size: 19px;
    margin-right: 5px;
    cursor: pointer;
}

.cabecalho-menu-item:hover{
    color: #7b86de;
}

.cabecalho-menu-item {
    display: flex;
    gap: 40px;
}  

.imagem-cabecalho{
    width: 230px;
    height: 40px;
    vertical-align: top;
    padding: 7px 0px 4px 13px; 
}

.content-page{
    display: flex;
    margin: 0 auto;
}


/*.image{
    margin-left: 177px;
    margin-top: 50px;
    position: absolute;
    box-sizing: border-box;

}

img{
    width: 450px;
    height: 495px;
    border-radius: 15px 0px 0px 15px;
}*/


form{
    box-sizing: border-box;
    width: 450px;
    margin: 0 auto;
    padding-top: 50px;
}

.container{
    box-sizing: border-box;
    box-shadow: 1px 1px 5px darkgray;
    background-color: #E9F0FF;
    padding: 30px;
    border-radius: 20px;
}

.container-top{
    text-align: center;
}

.container-top p{
    font-family: 'Cairo', sans-serif;
    font-size: 17px;
}

.container-top h2{
    font-family: 'Courier Prime', monospace;
    font-size: 30px;
}


.container-email-group input{
    border-radius: 10px;
    outline: 1;
    border: none;
    width: 100%;
    height: 30px;
    padding: 5px;
}

.container-email-group label{
    width: 50%;
    color:rgb(36, 36, 36);
    display: block;
    margin-left: 10px;
    margin-bottom: 5px;
    position: relative;

}

.container-password-group input{
    border-radius: 10px;
    outline: 1;
    border: none;
    width: 100%;
    height: 30px;
    padding: 5px;
}

.container-password-group label{
    width: 50%;
    color:rgb(36, 36, 36);
    display: block;
    margin-left: 10px;
    margin-bottom: 5px;
    position: relative;


}

.container-email-group{
    margin-bottom: 10px;
    margin-top: 30px;
}

.container-password-group{
    margin-top: 30px;
}

.container-password-group span {
    position: absolute;
    cursor: pointer;
    border: solid;
    margin-left: 375px;
    margin-bottom: 10px;

}

.remember-password{
    display: flex;
    margin-top: 15px ;
    text-align: center;
}

.remember-password input{

}

.remember-password span{

}

.container-button{
    border-radius: 10px;
    outline: 0;
    border: none;
    width: 100%;
    height: 30px;
    padding: 5px;
    margin-top: 25px;
}

.container-button button{
    background-color: #1C256D;
    display: inline-block;
    width: 100%;
    color: #dedfe2;
    outline: none;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
}

footer{
    margin-top: 30px;
    text-align: center;
    padding: 1px;
}

.forgot-password{
    
}

.forgot-password span, a{
    text-decoration: none;
}